h1 {
    text-align: center;
}

p {
    text-align: center;
}

.signup-link {
    text-align: center;
}

.signup-link a {
    display: inline-block;
    margin: 0 auto;
    color: white; 
}
* {
    box-sizing: border-box;
}


ul {
    margin: 0;
    padding: 0;
}


ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


ul li:nth-child(odd) {
    background: #f9f9f9;
}


ul li:hover {
    background: #ddd;
}


ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */
.header {
    background-color: #383434;
    padding: 30px 40px;
    color: white;
    text-align: center;
    margin-bottom: 20px; /* Add margin to the bottom to separate from the next element */
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}
body {
    animation: gradientBackground 20s infinite alternate;
}

@keyframes gradientBackground {
    0% {
        background-color: #776a67; /* Starting color */
    }
    35% {
        background-color: #38322e; /* Color change at 25% of animation duration */
    }
    65% {
        background-color: #3b382e; /* Color change at 50% of animation duration */
    }
    90% {
        background-color: #748486; /* Color change at 75% of animation duration */
    }
    100% {
        background-color: #2e221f; /* Back to starting color */
    }
}